@import url("./reset.css");

:root {
    --background-color: rgb(255, 255, 255);
    --secondary-color: rgb(243, 243, 243);
    --focus-color: rgb(221, 221, 221);
    --font-color: rgb(80, 80, 80);
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    min-height: 100svh;
    --header-height: 10%;
    --game-height: calc(100% - var(--header-height));
}

header {
    --btn-width: clamp(2.5rem, 10%, 9rem);
    padding: 1.5rem;
    height: var(--header-height);
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--font-color);
    display: grid;
    gap: 1.5rem;
    grid-template-columns: var(--btn-width) auto var(--btn-width);
}

header h1 {
    grid-column: 2;
    place-self: center;
}

.header-restart-btn {
    align-self: center;
    grid-column: 3;
    width: 100%;
    min-height: 2.5em;
    padding: 0.25em 0.5em;
    font-size: clamp(0.66rem, 1.5svw, 1rem);
    background-color: var(--background-color);
    border: 2px solid var(--font-color);
    border-radius: 6px;
}

.game-window {
    padding: 1.5rem;
    height: var(--game-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.ui-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directions {
    text-align: center;
}

.game-grid {
    aspect-ratio: 1;
    min-width: 250px;
    width: 75svw;
    max-width: 75svh;
    display: grid;
}

.game-tile-container {
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--font-color);
    border-right: 2px solid var(--font-color);
}

.game-tile {
    position: relative;
    border-top: 2px solid var(--font-color);
    border-left: 2px solid var(--font-color);
}

.hit,
.miss {
    --radius: 45%;
    --offset: calc(calc(100% - var(--radius)) / 2);
    position: absolute;
    aspect-ratio: 1;
    width: var(--radius);
    top: var(--offset);
    left: var(--offset);
    border-radius: 100%;
    border: 2px solid var(--font-color);
}

.hit {
    background-color: red;
    border-color: red;
}

.grid-label-top,
.grid-label-left {
    display: flex;
}

.grid-label-left {
    flex-direction: column;
}

.label-tile {
    flex: 1;
    display: grid;
    place-content: center;
}

.patrol,
.submarine,
.destroyer,
.battleship,
.carrier {
    background-color: var(--font-color);
}

.sunk {
    z-index: 1;
    background-color: rgb(117, 0, 0);
    border: none;
}

.end-turn-btn {
    position: fixed;
    bottom: 6svw;
    right: 6svw;
    background-color: var(--secondary-color);
    border: 2px solid var(--font-color);
    border-radius: 8px;
    padding: 2rem 2.5rem;
    box-shadow: 0 0 24px 5px rgba(94, 94, 94, 0.64);
}

/* Main Gameplay UI */

.main-ui {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-end;

    /* centers ui ignoring the transparent labels by shifting left the size of a tile */
    margin-right: calc(min(75svw, 75svh) / 11);
}

.main-ui .player-board {
    flex: 1;
    /* scales grid to never be bigger than radar when flexing */
    max-width: min(75svw, 75svh);
}

/* Pre-game UI */

.pregame-ui {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    justify-content: center;
}

.pregame-ui .game-grid {
    /* centers grid ignoring the transparent labels when wrapped 
       by shifting left the size of a tile */
    margin-right: calc(min(75svw, 75svh) / 11);
}

.ship-container {
    margin-top: 1.5rem;
    flex: 1;
    min-height: min(25svw, 25svh);
    min-width: 28.2svw;
    width: 25svw;
    max-width: min(75svw, 75svh);
    display: grid;
    place-items: center;
}

.place-ship-form {
    font-size: clamp(0.75rem, 2.5svw, 1.25rem);
    background-color: var(--secondary-color);
    border: 2px solid var(--font-color);
    padding: clamp(0.85rem, 3svw, 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.input-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    place-content: start;
    align-items: end;
    gap: 0.5rem;
}

.coordinate-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.coordinate-inputs p {
    margin-bottom: -0.225rem;
    font-size: clamp(0.6rem, 2svw, 1rem);
    align-self: center;
}

.place-ship-btn,
.preset-ship-btn {
    font-size: clamp(0.65rem, 2.25svw, 1.125rem);
    padding: 0.5em 0.75em;
    background-color: var(--background-color);
    border: 2px solid var(--font-color);
    border-radius: 6px;
}

.place-ship-form label {
    min-width: 17ch;
}

.place-ship-form select,
.place-ship-form input[type="text"] {
    padding: 0.125ch 0.0625ch;
    min-width: 9ch;
    background-color: var(--background-color);
    border: 2px solid var(--font-color);
    border-radius: 3px;
}

.button-container {
    margin-top: 1rem;
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
}

/* Player Menu */

.menu-ui {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.opponent-selection {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.menu-btn {
    font-size: 1.25rem;
    background-color: var(--secondary-color);
    border: 2px solid var(--font-color);
    border-radius: 8px;
    padding: 1.75rem 1.5rem;
}

.menu-btn:hover {
    background-color: var(--focus-color);
}

.p2-info {
    text-align: center;
}

/* Win Popup */

.win-popup[open] {
    margin: auto;
    padding: 2.5rem;
    font-size: 3.5rem;
    color: var(--font-color);
    background-color: var(--secondary-color);
    border-color: var(--font-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    box-shadow: 0px 0px 32px 13px rgba(94, 94, 94, 1);
}

.win-msg {
    text-align: center;
}

.win-restart-btn {
    padding: 0.5rem 1.25rem;
    font-size: 2.75rem;
    background-color: var(--background-color);
    border: 2px solid var(--font-color);
    border-radius: 6px;
}

/* Hide Screen */
.hide-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.show-screen-btn {
    background-color: var(--secondary-color);
    border: 2px solid var(--font-color);
    border-radius: 8px;
    padding: 2rem 2.5rem;
}

.hide-msg {
    font-size: 2rem;
}
